{{ define "main" }}
<article class="markdown">
    <h1>{{.Title}}</h1>
    {{ partial "docs/metadata" . }}

    {{ with .Content }}
    <h2>About</h2>
    {{- . -}}
    {{ end }}

    <h2>Services</h2>
    <p>The following greenfield services comprise this component.</p>
    <ul>
        {{ range where .Pages ".Params.legacy" false }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ else }}
        <li style="list-style: none;">None</li>
        {{ end }}
    </ul>

    <h2>Legacy Services</h2>
    <p>These legacy services have been categorised as fitting best in this component but may implement other functionality. </p>
    <ul>
        {{ range where .Pages ".Params.legacy" true }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ else }}
        <li style="list-style: none;">None</li>
        {{ end }}
    </ul>

</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
