{{ define "main" }}
<article class="markdown">
    <h1>Source Code Repository Links</h1>
    <p>This is a <strong>non-exhaustive</strong> list of source code repos. Some repos contain multiple services.</p>

    {{ partial "docs/metadata" $ }}

    {{- .Content -}}

    <ul>

        {{ range $url, $pages := .Site.Taxonomies.repo_links }}
        <li><a href="{{$url}}">{{$url}}</a>
            <ul>
                {{ range $pages | uniq }}
                <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                {{ end }}
            </ul></li>
        {{ end }}
    </ul>

</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
