<nav>
{{ partial "docs/brand" . }}
{{ partial "docs/search" . }}
{{ partial "docs/inject/menu-before" . }}

{{ if .Site.Params.BookMenuBundle }}
    {{ partial "docs/menu-bundle" . }}
{{ else }}
    {{ partial "docs/menu-filetree" . }}
{{ end }}

{{ partial "docs/inject/menu-after" . }}
</nav>

<script>
(function() {
  // Scroll to currently selected node in the TOC.
  var menu = document.querySelector("aside.book-menu nav");
  var relevantItem = document.querySelector("a.active");

  if (relevantItem) {
    menu.scrollTop = relevantItem.offsetTop;
  }
})();
</script>
