{{/* Is this a service page? Not if it's a subpage of a service or anything else. */}}
{{ $isServicePage := index (findRE "docs/services/(.*?)/_index.md" .Path) 0 }}
{{ $serviceIdentifier := .Path | replaceRE "docs/services/(.*?)/_index.md"  "$1" }}
{{ $downstreamServices := (index .Page.Site.Taxonomies.servicedeps $serviceIdentifier ) }}
{{ $downstreamData := (index .Page.Site.Taxonomies.datadeps $serviceIdentifier ) }}

{{ if (and $isServicePage $.Params.legacy) }}
<p><strong style="color: #700">Legacy</strong></p>
{{ end }}

<table>
    {{ if $.Params.label_name  }}
    <tr>
        <td>GitLab label</td>
        <td><a href="https://gitlab.com/groups/crossref/-/issues?label_name%5B%5D={{ .Params.label_name }}">Issues</a>,
            <a href="https://gitlab.com/groups/crossref/-/merge_requests?label_name[]={{ .Params.label_name }}">Merge Requests</a>,
            <a href="https://gitlab.com/groups/crossref/-/epics?label_name[]={{ .Params.label_name }}">Epics</a></td>
    </tr>
    {{ end }}

    {{ if (and $isServicePage $.Params.component) }}
    <tr>
        <td>Component</td>
        {{ with .Site.GetPage (printf "/components/%s" $.Params.component ) }}
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        {{ end }}
    </tr>
    {{ end }}

    {{ if (and $isServicePage $.Params.area) }}
    <tr>
        <td>Area</td>
        <td><a href="/knowledge_base/area/{{$.Params.area}}">{{$.Params.area}}</a></td>
    </tr>
    {{ end }}

    {{ if $.Params.owner }}
    <tr>
        <td>Product Manager / Owner</td>
        <td>{{$.Params.owner}}</td>
    </tr>
    {{ end }}
    {{if $.Params.lead}}
    <tr>
        <td>Tech Lead</td>
        <td>{{$.Params.lead}}</td>
    </tr>
    {{ end }}
    {{if $.Params.lang}}
    <tr>
        <td>Language</td>
        <td>{{$.Params.lang}}</td>
    </tr>{{ end }}
    {{if $.Params.desc}}
    <tr>
        <td>Description</td>
        <td>{{$.Params.desc}}</td>
    </tr>{{ end }}
    {{if $.Params.staging_urls}}
    <tr>
        <td>Staging URL</td>
        <td>
            <ul>
            {{ range $.Params.staging_urls }}
            <li><a href="{{.}}">{{.}}</a></li>
            {{ end }}
            </ul>
        </td>
    </tr>{{ end }}
    {{if $.Params.prod_urls}}
    <tr>
        <td>Production URLs</td>
        <td><ul>
            {{ range $.Params.prod_urls }}
            <li><a href="{{.}}">{{.}}</a></li>
            {{ end }}
        </ul></td>
    </tr>{{ end }}
    {{if $.Params.prod_heartbeats}}
    <tr>
        <td>Production Heartbeats</td>
        <td>
            <ul>
            {{ range $.Params.prod_heartbeats }}
            <li><a href="{{.}}">{{.}}</a></li>
            {{ end }}
            </ul>
        </td>
    </tr>{{ end }}
    {{if $.Params.docs}}
    <tr>
        <td>Documentation</td>
        <td><a href="{{$.Params.docs}}">{{$.Params.docs}}</a></td>
    </tr>
    {{ end  }}

    {{ if $isServicePage }}
    <tr>
        <td>Quality</td>
        <td>
        {{if $.Params.sentry_url}}
            <a href="{{$.Params.sentry_url}}">Sentry</a>,
        {{ else }}
            No Sentry,
        {{ end  }}
        {{if $.Params.sonar_url}}
        <a href="{{$.Params.sonar_url}}">SONAR</a>
        {{ else }} no SONAR {{ end  }}
        </td>
    </tr>
    {{ end }}


    {{ if (and $isServicePage $.Params.servicedeps) }}
    <tr><td>Upstream services</td>
    <td>
        <ul>
        {{ range $.Params.servicedeps }}
            {{ $servicePage := ref $ (print "/docs/services/" . ) }}
            {{ $servicePageObj := $.Site.GetPage (print "/docs/services/" . ) }}
            <li>
                <a href="{{$servicePage}}">{{$servicePageObj.Title }}</a>
            </li>
        {{ end }}
        </ul>
       </td>
    </tr>
    {{ end }}
    {{ if (and $isServicePage $.Params.datadeps) }}
    <tr><td>Upstream data</td>
    <td>
        <ul>
        {{ range $.Params.datadeps }}
            {{ $servicePage := ref $ (print "/docs/services/" . ) }}
            {{ $servicePageObj := $.Site.GetPage (print "/docs/services/" . ) }}
            <li>
                <a href="{{$servicePage}}">{{$servicePageObj.Title }}</a>
            </li>
        {{ end }}
    </ul>
    </td></tr>
    {{ end }}

    {{ if (and $isServicePage $downstreamServices) }}
    <tr>
        <td>Downstream services</td>
        <td>
            <ul>
            {{ range $downstreamServices }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </td>
    </tr>
    {{ end }}

    {{ if (and $isServicePage $downstreamData ) }}
    <tr>
        <td>Downstream data</td>
        <td>
            <ul>
                {{ range $downstreamData }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </td>
    </tr>
    {{ end }}


    {{ if $.Params.packages }}
    <tr><td>Packages</td>
    <td>
        <ul>
        {{ range $.Params.packages }}
        <li>{{.}}</li>
        {{ end }}
    </ul>
    </td></tr>
    {{ end }}
    {{ if $.Params.repo_links }}
    <tr><td>Source Code</td>
    <td>
    <ul>
        {{ range $.Params.repo_links }}
        <li><a href="{{.}}">{{.}}</a></li>
        {{ end }}
    </ul>
    </td>
    </tr>
    {{ end }}

    {{ if $.Params.related_services }}
    <tr><td>Related services</td>
        <td>
            <ul>
                {{ range $.Params.related_services }}
                {{ $servicePage := ref $ (print "/docs/services/" . ) }}
                {{ $servicePageObj := $.Site.GetPage (print "/docs/services/" . ) }}
                <li><a href="{{$servicePage}}">{{$servicePageObj.Title }}</a></li>
                {{ end }}
            </ul>
        </td>
    </tr>
    {{ end }}

    {{ if $.Params.tags }}
    <tr><td>Tags</td>
        <td>
            <ul>
                {{ range $.Params.tags }}
                <li><a href="/knowledge_base/tags/{{.}}">{{.}}</a></li>
                {{ end }}
            </ul>
        </td>
    </tr>
    {{ end }}

    {{ if $.Params.products }}
    <tr><td>Products</td>
        <td>
            <ul>
                {{ range $.Params.products }}
                <li><a href="/knowledge_base/products/{{.}}">{{.}}</a></li>
                {{ end }}
            </ul>
        </td>
    </tr>
    {{ end }}

    {{ if $.Params.doc_link }}
    <tr><td>Internal documents</td>
        <td>
            <ul>
                {{ range $.Params.doc_link }}
                <li><a href="{{.}}">Internal document</a></li>
                {{ end }}
            </ul>
        </td>
    </tr>
    {{ end }}

</table>
