{{ define "main" }}
<article class="markdown">
    <h1>{{.Title}}</h1>

    {{ partial "docs/metadata" $ }}

    <h2>Services</h2>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>

    {{ with .Content }}
    <h2>About</h2>
    {{- . -}}
    {{ end }}

</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
