<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <main class="flex justify-center">
    <div class="book-home markdown">
        <h1>{{ $.Title }}</h1>

        {{ $.Content }}

<!--        <h2>Products</h2>-->
<!--        <ul id="all-taxonomies">-->
<!--            {{ range $product, $pages := .Site.Taxonomies.products }}-->
<!--            {{ with $.Site.GetPage (printf "products/%s" $product) }}-->
<!--            <li><a href="{{ .Permalink }}">{{ $product }}</a></li>-->
<!--            {{ end }}-->
<!--            {{ end }}-->
<!--        </ul>-->


<!--        {{ partial "docs/menu-filetree" . }}-->
    </div>
  </main>

  {{ partial "docs/inject/body" . }}
</body>

</html>
