{{ define "main" }}
<article class="markdown">
    <h1>Production URLs List</h1>
    <p>This is a <strong>non-exhaustive</strong> list of URLs registered to services. Not all of these are enabled. Some are available only within the VPN.</p>

    {{ partial "docs/metadata" $ }}

    {{- .Content -}}
    <ul>

        {{ range $url, $pages := .Site.Taxonomies.prod_urls }}
        <li><a href="{{$url}}">{{$url}}</a>
        <ul>
            {{ range $pages | uniq }}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            {{ end }}
        </ul></li>
    {{ end }}
    </ul>

</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
