{{ define "main" }}
<article class="markdown">
    <h1>{{.Title}}</h1>
    {{ partial "docs/metadata" . }}


    <h2>Diagrams</h2>
    <a href="/knowledge_base/rendered/{{ .Title | urlize }}.svg">Dependencies with {{.Title}} higlighted.</a>

    {{ partial "docs/metadata" $ }}

    {{ with .Content }}
    <h2>About</h2>
    {{- . -}}
    {{ end }}

    <h2>Services</h2>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>

</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
